
  .container-principal{
    margin-top:20px;margin-left:20px;
  }
  .content{
    display: flex;
    flex-direction: row;
  }
  .container-form-list{
    width: 70%; border-width: 0px
  }
  .container-list-play{
    padding: 5px; width: 100%;
  }
  .container-all{ 
    display: flex;
    flex-direction: column;
  }
  .container-list{
    margin-top:20px;
    width:100%;
    display: inline-block;
    box-shadow: 0px 0px 10px;
    border-radius: 15px
  }

  .example-viewport {
    height:400px;
    width: 100%;    
  }

  .container-item{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;    
  }

  .child-item{
    height: 100%;
    width: 100%;
    
  }
  
  .avatar{
    width:50px; 
    height:50px; 
    border-radius: 150px;
  }

  .container-principal-detail{
    width:5px;
    display:inline-block;
  }

  .container-detail{
    width:25%
  }
  


  .contenedor {
    color: grey;
    text-align: center;
  }
  
  .cancion-contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1em;
    padding: 1em;
  }
  
  .cancion-contenedor {
    border-radius: 2em;
    background-color: white;
    margin-bottom: 20px;
    -moz-box-shadow: 0 0 3px grey;
    -webkit-box-shadow: 0 0 3px grey;
    box-shadow: 0 0 5px grey;
  }
  
  span {
    flex-basis: 33.333%;
  }
  
  a {
    text-decoration: none;
    color: #4c4c4c;
  }  
.dataTables_filter{
  visibility: hidden;
}


