<div class="contenedor">
    <div class="cancion-contenedor" *ngFor="let cancion of canciones;" (click)="ngDocheck(cancion)">
      <span>{{cancion.titulo}}</span>
      <span>{{cancion.autor}}</span>
      <span>
        <a>play</a>
      </span>
    </div>
</div>


  <div class="lista" *ngIf="cancion_selecionada">
      <h2>{{cancion_selecionada.titulo}}</h2>
      <table>
          <tr>
              <td><img src="/assets/{{cancion_selecionada.caratula}}"/></td>
              <td style="vertical-align:top; " ><br /><br /><br /><b>{{cancion_selecionada.autor}}</b>
              <br />{{cancion_selecionada.disco}}          
              <br /> {{cancion_selecionada.estilo}}<br /><br /><br />
              </td>
          </tr>
      </table>           
  </div>
