

<div class="container"  *ngIf="src">
  <mat-card class="container-details">
    <mat-card-title class="detail-text"><b>{{titulo}}</b></mat-card-title>
    <mat-card-subtitle class="detail-text">{{autor}}</mat-card-subtitle>
    <mat-card-subtitle class="detail-text">{{disco}}</mat-card-subtitle>
  </mat-card>

  <mat-card class="container-progress-play">

    <div class="container-progress">
      <mat-slider #file role="slider" (click)="getSliderTickInterval()" [(ngModel)]="value" id="file" max="100" step="0.5" value="0" mode="determinate"></mat-slider>
      
      <audio #audioElement src="http://localhost:4200/assets/{{src}}">
        <p>Your browser does not support HTML5 audio. Here is a <a href="{{src}}">link</a> instead.</p>
      </audio>
      <div><span #momento value="0"></span></div>
    </div>

    <div class="container-play">
      <span (click)="audio?.paused ? play() : pause()">
        <mat-icon *ngIf="audio && audio?.paused" class="icon">play_arrow</mat-icon>
        <mat-icon *ngIf="audio && !audio?.paused" class="icon">pause</mat-icon>
      </span>&nbsp;&nbsp;
      <span (click)="stop()">
        <mat-icon class="icon">stop</mat-icon>
      </span>&nbsp;&nbsp;
      <span (click)="mute()">
        <mat-icon *ngIf="audio?.muted" class="icon">volume_off</mat-icon>
        <mat-icon *ngIf="!audio?.muted" class="icon">volume_up</mat-icon>
      </span>

    </div>

  </mat-card>
   
    
  
</div>