
<div class="container"  *ngIf="src">
  <div class="container-details">
    <p class="card-title"><b>{{titulo}}</b></p>
    <p class="card-text">{{autor}}</p>
    <p class="card-text">{{disco}}</p>
  </div>

  <div class="container-progress-play">

    <div class="container-progress">
      <mat-progress-bar #file id="file" max="100" value="0" mode="determinate"></mat-progress-bar>

      <audio #audioElement src="http://localhost:4200/assets/{{src}}">
        <p>Your browser does not support HTML5 audio. Here is a <a href="{{src}}">link</a> instead.</p>
      </audio>
      <div><span #momento value="0"></span></div>
    </div>

    <div class="container-play">
      <span (click)="play()">
        <mat-icon class="icon" >play_arrow</mat-icon>
      </span>&nbsp;&nbsp;
      <span (click)="pause()">
        <mat-icon class="icon">pause</mat-icon>
        
      </span>&nbsp;&nbsp;
      <span (click)="stop()">
        <mat-icon class="icon">stop</mat-icon>
      </span>
    </div>

  </div>
   
    
  
</div>