.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    width: 100%;
}

.container-details {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 5px;
    
}
.detail-text{
  align-self: center;
    
    
}

.container-progress-play {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}

.container-progress {
    width: 90%
}

.container-play {
    display: flex;
    justify-content: center
}

.icon {
    transform: scale(2);
    margin-top: 20px
}