
.lista{
    
    margin-left:40px;
    width: 50%;
    background-color: #c0c0c0;
    
    
}
.elementolista{
    background-color:white;
    padding-top: 3px;
    padding-bottom: 3px;
    border-color:black; 
    border-width: 5px;
    border-style: solid;
    
}

